@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body {
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 60px 20px 30px 20px;
    background: rgba(255, 220, 220, 0.5);
    height: 620px;
    width: 350px;
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
.box-login {
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}
.box-register {
    position: absolute;
    width: 85%;
    right: -350px;
    transition: .5s ease-in-out;
}
.top-header {
    text-align: center;
    margin: 30px 0;
}
.top-header h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.input-group {
    width: 100%;
}
.input-field {
    margin: 12px 0;
    position: relative;
}
.input-box {
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 7px 45px 7px 20px;
    background: rgba(224, 223, 223, 0.7);
    backdrop-filter: blur(10px);
}
.input-field label {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.input-box:focus~label,
.input-box:valid~label {
    top: 0;
    font-size: 10px;
    font-weight: 500;
    color: #011F51;
}
.eye-area {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.eye-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.eye-box i {
    position: absolute;
    color: #444;
    cursor: pointer;
}
#eye,#eye-2 {
    opacity: 1;
}
#eye-slash,#eye-slash-2 {
    opacity: 0;
}
.remember {
    display: flex;
    font-size: 14px;
    margin: 12px 0 30px 0;
}
.check {
    margin-right: 5px;
}
.input-submit {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #011F51;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(1, 31, 81, 0.5);
    transition: .5s;
}
.input-submit:hover {
    box-shadow: none;
}
.forgot {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
}
.forgot a {
    text-decoration: none;
    color: #040404;
}
.forgot a:hover {
    text-decoration: underline;
}
.switch {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.switch a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    width: 50%;
    border-radius: 10px;
    z-index: 10;
}
#btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50px;
    background: #011F51;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.2);
    transition: .5s ease-in-out;
}